<mat-toolbar style="height:80px;" color="primary" >
    <span class="example-spacer" ></span>
    <span class="margin-top: 20px margin-bottom:20px" style="font-weight:lighter" >Gestión de Productos</span>
</mat-toolbar>

<!--
    Formulario de Agregar producto
-->
<mat-card style="margin-top: 20px; margin-bottom: 20px;">
    <div class ="body">
        <div class="login">
            <img src="./assets/images/inventory.png" width="20%" style="margin-bottom: 20px;">
            <mat-card style="margin-top: 5px; margin-bottom: 20px;">
                <h2 style="margin-top: 20px" style="font-weight:bold" >Agregar producto</h2>
                <form [formGroup] = "form" option="isEditar" style="margin-bottom: 20px;">
                    <div class="example-container">
                        <mat-form-field appearance="fill" class = "ancho">
                            <mat-label>Nombre del producto</mat-label>
                                <input matInput autocomplete="off" formControlName = "nameProduct">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class = "ancho">
                            <mat-label>Código de Barras</mat-label>
                                <input matInput autocomplete="off" formControlName = "barCode">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class = "ancho">
                            <mat-label>Código de CABYS</mat-label>
                                <input matInput autocomplete="off" formControlName = "cabyCode">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class = "ancho">
                            <mat-label>Precio</mat-label>
                                <input matInput autocomplete="off" formControlName = "price">
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="ancho">
                            <mat-label>IVA</mat-label>
                            <mat-select [(ngModel)]="selectedIVA" name="iva">
                              <mat-option *ngFor="let num of ivaList" [value]="num.value">
                                {{num.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <p> IVA Actual {{selectedIVA}} </p>

                        <mat-form-field appearance="fill" class = "ancho">
                            <mat-label>Cantidad</mat-label>
                                <input matInput autocomplete="off" formControlName = "quantity">
                        </mat-form-field>
                        <div class="example-container">
                            <button  mat-raised-button color="primary" type="submit"  [disabled]="isEditar" (click)="confirmar('agregar')"> Agregar </button>
                            <button mat-raised-button color="primary" type="button" [disabled]="!isEditar" (click)="confirmar('editar')"> Editar </button>
                            <button mat-button color="warn" type="button" (click)="confirmar('cancelar')"> Cancelar </button>
                        </div>
                    </div>
                    
                </form>
            </mat-card>
        </div>
        
    

        <!--
            Lista de Productos
        -->
        
        <div class="tableSettings ancho">
            <h2 style="margin-top: 20px" style="font-weight:bold" >Lista de productos</h2>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="text-align: right;">
                

                <!-- Id Column -->
                <ng-container matColumnDef="IDProducto">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element?.IDProducto}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre de Producto </th>
                <td mat-cell *matCellDef="let element"> {{element?.nombre}} </td>
                </ng-container>
            
                <!-- Price Column -->
                <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element"> {{element?.precio}} </td>
                </ng-container>
            
                <!-- Quantity Column -->
                <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element?.cantidad}} </td>
                </ng-container>

                <!-- BarCode Column -->
                <ng-container matColumnDef="barras">
                    <th mat-header-cell *matHeaderCellDef> Código Barras </th>
                    <td mat-cell *matCellDef="let element"> {{element?.codigoBarra}} </td>
                    </ng-container>

                <!-- CABYS Column -->
                <ng-container matColumnDef="cabys">
                    <th mat-header-cell *matHeaderCellDef> CABYS</th>
                    <td mat-cell *matCellDef="let element"> {{element?.codigoCabys}} </td>
                    </ng-container>

                <!-- Actions -->
                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element" style="text-align: right;"> 
                        <a class="pointer" (click) = "cargarProducto(element)" style="color:#1f516f" matTooltip="Editar producto">
                            <mat-icon>
                                edit
                            </mat-icon>
                        </a>
                        <a class="pointer" (click) = "eliminar(element.IDProducto)" style="color:red" matTooltip="Eliminar producto">
                            <mat-icon>
                                delete
                            </mat-icon>
                        </a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Productos por página"></mat-paginator>
  </mat-card>

    


    

