
.button {
  background-color: #e7e7e7; /* Gray */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}
.buttonHover {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button:hover {background-color: #e7e7e7;}


.button-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.body {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100%;
  margin: 20px;
}

.tableSettings { 
  margin-left: 5%; 
}


.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
}

.th{
  width: 20%;
}

.pointer {
  cursor: pointer;
}

.example-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}

.example-full-width {
width: 100%;
}

.ancho {
width: 80%;
}


.table {
  width: 100%;
  padding: 50px;
}


.button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.demo-inline-calendar-card {
  width: 300px;
}
