

<!--
    Formulario de Datos registrados     
-->
<div class ="body">
    <div class="login">
        <img  src="./assets/images/resume.png" width="40%" style="margin-bottom: 20px;">
        <form [formGroup] = "form" (ngSubmit) = "editar()">
            <h1 style="font-weight:bold" >Mis datos registrados</h1>
            <div class="example-container">
                <mat-form-field appearance="fill" class = "ancho">
                    <mat-label>Nombre de usuario</mat-label>
                        <input matInput autocomplete="off" formControlName = "user">
                </mat-form-field>
                <mat-form-field appearance="fill" class = "ancho">
                    <mat-label>Contraseña</mat-label>
                        <input type="password" matInput autocomplete="off" formControlName = "password">
                </mat-form-field>
                <mat-form-field appearance="fill" class = "ancho">
                    <mat-label>Confirmar Contraseña</mat-label>
                        <input type="password" matInput autocomplete="off" formControlName = "confirmedPassword">
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" class = "ancho button" [disabled]="form.invalid">Editar mis datos</button>
            </div>
        </form>  
    </div>
    
</div>


