<mat-toolbar style="height:80px;" color="primary" >
    <span class="example-spacer" ></span>
    <span class="margin-top: 20px margin-bottom:20px" style="font-weight:lighter" >Gestión de Ventas</span>
</mat-toolbar>

<mat-card style="margin-top: 20px; margin-bottom: 20px;">
    <div class ="body">
        <div class="login">
            <img src="./assets/images/trade.png" width="20%" style="margin-bottom: 20px;">
            <mat-card style="margin-top: 20px; margin-bottom: 20px; border: 55px;">
                <h2 class="margin-top: 30px margin-bottom:20px" style="font-weight:bold" >Agregar producto</h2>
                
                <div class="example-container">
                    <form [formGroup] = "formBuscar" (ngSubmit) = "buscarProducto()">
                        <mat-form-field appearance="fill" class = "ancho">
                            <mat-label>Nombre de Producto</mat-label>
                            <input matInput autocomplete="off" formControlName = "nameProduct">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class = "ancho">
                            <mat-label>Código de Producto</mat-label>
                            <input matInput autocomplete="off" formControlName = "codeProduct">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class = "ancho">
                            <mat-label>Cantidad de Unidades</mat-label>
                            <input matInput autocomplete="off" formControlName = "units">
                        </mat-form-field>
        
                        <div class="login">
                            <button  mat-raised-button style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;" color="primary" type="submit"  [disabled]="isDisabled" (click)="venta()"> Buscar </button>
                            <button mat-raised-button style="margin-left: 5px; margin-bottom: 10px;" color="primary" type="button" [disabled]="isDisabled" (click)="venta()"> Agregar producto </button>
                            <button mat-button style="margin-left: 10px;" color="warn" type="button" (click)="venta()"> Cancelar </button>
                        
                        </div>
                        
                    </form> 
                </div>
            </mat-card> 
        </div> 

        <div class="ancho" style="margin-left: 10px; margin-right: 10px;">
            
            <h2 style="font-weight:bold ce">Productos a cobrar: </h2>
            
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="text-align: right;">
                

                <!-- Id Column -->
                <ng-container matColumnDef="IDProducto">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element?.IDProducto}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre de Producto </th>
                <td mat-cell *matCellDef="let element"> {{element?.nombre}} </td>
                </ng-container>
            
                <!-- Price Column -->
                <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element"> {{element?.precio}} </td>
                </ng-container>
            
                <!-- Quantity Column -->
                <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element?.cantidad}} </td>
                </ng-container>

                <!-- Actions -->
                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element" style="text-align: right;"> 
                        <a class="pointer" (click) = "venta()" style="color:red" matTooltip="Eliminar producto">
                            <mat-icon>
                                delete
                            </mat-icon>
                        </a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="login">
            <mat-card style="margin-bottom: 20px;">
            
                <h2 class="margin-top: 20px margin-bottom:20px" style="font-weight:bold" >Información sobre la venta:</h2>
                
                <div class="example-container">
                    <form [formGroup] = "formVenta" (ngSubmit) = "buscarProducto()">
                        <h3>Descuentos totales</h3>
                        <mat-form-field appearance="fill" class = "ancho">
                            <input matInput autocomplete="off" formControlName = "discount">
                        </mat-form-field>
                        <h3>Impuestos totales</h3>
                        <mat-form-field appearance="fill" class = "ancho">
                            <input matInput autocomplete="off" formControlName = "tax">
                        </mat-form-field>

                        <h3>Subtotal</h3>
                        <mat-form-field appearance="fill" class = "ancho" >
                            <input matInput autocomplete="off" formControlName = "total">
                        </mat-form-field>
                        <h2 style="font-weight:bold" >Total</h2>
                        <mat-form-field appearance="fill" class = "ancho">
                            <input matInput autocomplete="off" formControlName = "subtotal">
                        </mat-form-field>
                        <div class="login" style="margin-bottom:20px">
                            <h3 class="example-h2">¿Desea generar factura?</h3>
                            <mat-slide-toggle
                                class="example-margin"
                                [color]="color"
                                [checked]="checkedFactura"
                                [disabled]="disabledFactura">
                            </mat-slide-toggle>
                        </div>
                        
                        
                        <button  mat-raised-button style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;" color="primary" type="submit"  [disabled]="isDisabled" (click)="venta()"> Confirmar compra </button>
                        <button mat-button style="margin-left: 10px;" color="warn" type="button" (click)="venta()"> Cancelar compra </button>
                        
                    </form> 
                </div>
            </mat-card>
        </div> 

         
    </div>
      
  
  </mat-card>
  
